<aside>
    <header>
        <img src="{{ user.get('profile_url') }}" class="pic" alt="Profile pic for {{ user.get('username') }}"/>
        <h2>{{ user.get('username') }}</h2>
    </header>

    <div class="suggestions">
        <p class="suggestion-text">Suggestions for you</p>
        {% for suggestion in suggestions %}
            <section>
                <img src="{{ suggestion.get('thumb_url') }}" class="pic" alt="Profile pic for {{ suggestion.get('username') }}" />
                <div>
                    <p>{{ suggestion.get('username') }}</p>
                    <p>suggested for you</p>
                </div>
                <div><button class="link">follow</button></div>
            </section>
        {% endfor %}
    </div>
</aside>